<p style="color: green"><%= notice %></p>

Go to pages - 
<%= link_to 'Process', gtd_tasks_path, class: 'btn btn-primary' %>
<%= link_to "Create", new_task_path %>
<%= link_to 'Analytics', analytics_path, class: 'btn btn-primary' %>